.container {  
    width: 1040px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo crud crud"
      "f1 corpo corpo"
      "f2 corpo corpo"
      "f3 corpo corpo"
      "f4 corpo corpo"
      "f5 corpo corpo"
      "f6 corpo corpo"
      "footer footer footer";
  }
  
  .logo { grid-area: logo; }
  
  .crud { grid-area: crud; }
  
  .f1 { grid-area: f1; }
  
  .f2 { grid-area: f2; }
  
  .f3 { grid-area: f3; }
  
  .f4 { grid-area: f4; }
  
  .f5 { grid-area: f5; }
  
  .f6 { grid-area: f6; }
  
  .corpo { grid-area: corpo; }
  
  .footer { grid-area: footer; }
  
  
.img--suri{
    width:245px;
    height:60px;
    margin: 0;
    padding: 0;
    
}