.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo crud crud"
    "ToolBar corpo corpo"
    "ToolBar corpo corpo"
    "ToolBar corpo corpo"
    "ToolBar corpo corpo"
    "ToolBar corpo corpo"
    "ToolBar corpo corpo"
    "footer footer footer";
}

.logo { grid-area: logo; }

.crud { grid-area: crud; }

.corpo { grid-area: corpo; }

.footer { grid-area: footer; }

.ToolBar { grid-area: ToolBar; }
